<app-nav-admin></app-nav-admin>
<div class="text-center mt-5 col-auto  d-grid col-9 mx-auto">
    <h2>Passanger Check In</h2>
</div>
<form [formGroup]="form" (submit)="getData()">
    <div class="col-auto mt-3  col-6 mx-auto ">
        <div class="form-floating">
            <input id="user" class="form-control" type="text" formControlName="email" placeholder="email">
            <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating">
            <input id="flight" class="form-control mt-2" type="text" formControlName="idFlight" placeholder="Flight ID">
            <label for="floatingInput">Flight ID</label>
        </div>

        <div class="form-floating">
            <input id="seat" class="form-control mt-2" type="text" formControlName="seat" placeholder="seat">
            <label for="floatingInput">Seat</label>
        </div>
        
        <div class="text-center mt-3" id="alertDiv"> </div>
    </div>

    <div class="text-center mt-3">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Check In</button>
    </div>
</form>