<div class="text-center mt-3 ">

    <img class="mt-4 mb-4" src="./assets/TABAS.png" width="200px">
    <h1 class="h3 mb-3 front-weight-normal">Welcome to TECAir Web Page</h1>
    <h1 class="h3 mb-3 front-weight-normal">Please sign up</h1>

    <form [formGroup]="form" (submit)="getData()" style="max-width: 300px;margin: auto;">
        <h5 class="mt-3">I am a:</h5>

        <div class="form-check mt-3 " >
            <input  class="form-check-input" type="radio" formControlName="Role"(change)="deleteStudent()" value="Client"
                id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1"> Client </label>
        </div>

        <div class="form-check mt-1">
            <input  class="form-check-input"  type="radio" formControlName="Role" (change)="deleteStudent()"value="Employee"
                id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1"> Employee </label>
        </div>

        <div class="form-check mt-1">
           <input  class="form-check-input" type="radio" formControlName="Role"(change)="addStudent()" value="Student"
                id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1"> Student </label>
        </div>

        <div class="form-floating">
            <input  required type="Name" id="Name" class="form-control mb-1" placeholder="Name" formControlName="FirstName">
            <label for="floatingInput">Name</label>
        </div>

        <div class="form-floating">
            <input required type="Last Name" id="Last Name" placeholder="Last Name" class="form-control mb-1"
                formControlName="LastName1">
            <label for="floatingInput">Last Name</label>
        </div>
        <div class="form-floating">
            <input required type="2° Last Name" id="2° Last Name" class="form-control mb-1" placeholder="2° Last Name"
                formControlName="LastName2">
            <label for="floatingInput">2° Last Name</label>
        </div>
        <div class="form-floating">
            <input required type="ID" id="ID" placeholder="ID" class="form-control mb-1" formControlName="Ssn">
            <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating" *ngIf="student">
            <input required  type="ID" id="university"  placeholder="university" class="form-control mb-1" formControlName="University">
            <label for="floatingInput">University</label>
        </div>
        <div class="form-floating" *ngIf="student">
            <input required type="ID" id="SchoolId" placeholder="SchoolId" class="form-control mb-1" formControlName="SchoolId">
            <label for="floatingInput">Student ID</label>
        </div>

        <!--<div formArrayName="SchoolId" *ngFor="let SchoolId of SchoolId.controls; let i= index">
            <div [formGroupName]="i">
                <div class=" input-group mb-3 mt-2 ">
                    <div class="form-floating flex-grow-1">
                        <input id="SchoolId" class="form-control " type="text" formControlName="SchoolId" placeholder="SchoolId">
                        <label for="floatingInput">Student ID</label>
                    </div>
                </div>

            </div>

        </div>-->
        <div class="form-floating">
            <input required type="phone" id="Phone" placeholder="Phone" class="form-control mb-1" formControlName="PhoneNumber">
            <label for="floatingInput">Phone</label>
        </div>
        <div class="form-floating">
            <input required type="email" id="email" placeholder="Email" class="form-control mb-1" formControlName="Email">
            <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating">
            <input  required type="password" id="password" placeholder="Password" class="form-control mb-1 "
                formControlName="Password" >
            <label for="floatingInput">Password</label>
        </div>


        <div class="mt-3" id="alertDiv"> </div>
        <div class="mt-3 mb-5 d-grid gap-2 justify-content-center">
            <button type="button" class="btn btn-link" routerLink="/sigIn">I already have an account</button>
            <button [disabled]="form.invalid" id="signUp" class="btn btn-lg btn-primary btn-block">Sign Up</button>

        </div>
    </form>
</div>