
<nav class="navbar navbar-expand-sm navbar-light " style="background-color: #a1c0d6;">
  <div class="container-fluid">
    <a class="navbar-brand">TECAir</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="reservations">Search Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="sales">SALE!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="///">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
