<div class="text-center mt-3">
    <img class="mt-4 mb-4" src="./assets/TABAS.png" width="200px">
    <h1 class="h3 mb-3 front-weight-normal">Welcome to TECAir Web Page</h1>
    <h1 class="h3 mb-3 front-weight-normal">Please sign in</h1>
    <form [formGroup]="form" (submit)="getData()" style="max-width: 300px;margin: auto;">
        <div class="form-floating">
            <input type="Name" id="Name" class="form-control" placeholder="Name" formControlName="user_Name">
            <label for="formFloatingInput">Name</label>
        </div>
        <div class="form-floating mt-1">
            <input type="password" id="password" placeholder="Password" class="form-control" formControlName="user_Pass">
            <label for="formFloatingInput">Password</label>
        </div>
        <div class="mt-3" id="alertDiv"> </div>
        <div class="mt-3 d-grid gap-2 d-md-flex justify-content-center">
            <button class="btn btn-lg btn-outline-primary btn-block " routerLink="">Sign Up</button>
            <button class="btn btn-lg btn-primary btn-block" >Sign In</button>

        </div>
    </form>

</div>