<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #a1c0d6;">
    <div class="container-fluid">
      <a class="navbar-brand">TECAir</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="airport">Search Flights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="sales">SALE!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="checkIn">Check In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="assignBaggage">Assign Baggage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="opnFlight">Open Flight</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="closeFlight">Close Flight</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>